{% extends 'os_management/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Cadastre suas Ordens de Serviço</h1>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Static Example</title>
            <style>body {font-family: Roboto, sans-serif;}</style>

    
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

            <!-- Fengyuan Chen's Datepicker -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
        </head>

        <body>
            <p>Escolha a data da necessidade</p>

            {{ form.date }}

            <input id="datepicker">
            <script>
                $(function () {
                    $("#datepicker").datepicker({
                        format:'dd/mm/yyyy',
                    });
                });
            </script>
        </body>
    </html>

    <form action="{% url 'cadastro' %}"  method="post" class="cadastro-form">{% csrf_token %}
        {% crispy form %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="botao">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </form>  
{% endblock content%}
