body{
    margin-top: 0;
     
}

.topo-container{
    display: flex;
    background-color: #007FFF;
}

.imagem{
    margin-top: 5px;
    margin-left: 20px;
}

h1{
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.navbar{
    margin-bottom: 20px;

}

.margem{
    margin-top: 50px;
}

.btn-primary{
    font-weight: bold;
}


span{
    font-weight: bold;
    color: white;
    margin-left: 20px;
    
}


.rodape{
    background-color: #007FFF;
    margin-top: 200px;
    height: 60px;
    
}

@media(max-width:580px) {
    .navbar{
        margin-bottom: 100px;
        margin-left: 20px;
    }

    h1{
        visibility: hidden; 
    }

}
