body{
    margin-top: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url("/static/img/fundo-site.png");
    background-repeat: no-repeat;
    background-size: cover;
    width : 100%;
    height: 250%;
}


.margem{
    margin-bottom: 100px;
}
.topo-container{
    display: flex;
    background-color: #007FFF;
}

.imagem{
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

.navbar{
    margin-bottom: 20px;
    text-decoration-color: white;
}

.navbar :hover {
    background: rgb(218 41 28);
  }

.btn-primary{
    font-weight: bold;
}


span{
    font-weight: bold;
    color: white;
    
}

.footer{
    background-color: #007FFF;
    width:100%;
    height: 50px;
    bottom: 0;
    position: fixed;
}

.saudacao{
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

.nav-link{
    font-weight: bold;
    color: white;
}

.sair{
    margin-left: 50px;
}


.dropdown {
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item{
    font-weight: bold;
}

@media(max-width:580px) {
    .navbar{
        margin-bottom: 30px;
    }

}
