{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Gestão de OS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <!--<link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">-->

        <link rel="stylesheet" href="../../static/css/base.css">
        <link rel="stylesheet" href="../../static/css/menu.css">
        <link rel="stylesheet" href="../../static/css/cadastro.css">
        <link rel="stylesheet" href="../../static/css/estimarOS.css">
        <link rel="stylesheet" href="../../static/css/visualizarOS.css">
        <link rel="stylesheet" href="../../static/css/relatorios.css">
        
    </head>

    <header>
        <div class="topo-container">
            <a class="imagem" href="{% url 'menu' %}"><img src="../../static/img/logo-prefeitura.jpeg" width="150px"></a>
            <div class="content container">
                <nav class="navbar">
                    <a class="btn btn-primary" href="{% url 'cadastro' %}">Cadastrar OS</a>
                    {% if perms.global_permissions.acesso_faturamento_os_config%}
                        <a class="btn btn-primary" href="{% url 'estimarOS' %}">Estimar Os</a> 
                    {% endif %}
                    <div class="dropdown">
                        <a href= "#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Relatórios
                        </a>
                        <div class="dropdown-content">
                            <a href= "{% url 'relat_emerg' %}" class="dropdown-item">Emergenciais</a>   
                            <a href= "{% url 'relat_em_espera' %}" class="dropdown-item">Em espera de finalização</a>   
                            {% if perms.global_permissions.pode_acessar_pagina_config %}    
                                <a href= "{% url 'relat_em_fatura' %}" class="dropdown-item">Em faturamento</a>   
                            {% endif %}
                            <a href= "{% url 'relat_em_atraso' %}" class="dropdown-item">Em atraso</a>         
                        </div>
                    </div>
                    <a class="btn btn-primary" href="{% url 'visualizarOS' %}">Visualizar OS</a>
                    <a class="btn btn-primary" href="">Pesquisa</a>
                </nav>
            </div>  
                {% if user.is_authenticated %}
                    <div class="saudacao">
                        <a class="nav-link" href="">Bem vindo, {{ user }}</a>
                        <a class="nav-link sair" href="{% url 'login' %}">Sair</a>
                    </div>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
        </div>
    </header>

    <body>
        <div class="container" align="center">
            <div class="margem">
                {% block content %}

                {% endblock content%}
            </div>
        </div>
    </body>
    <footer class="footer navbar-fixed-bottom">
        <span>Um sistema da Secretária Muninipal de Educação</span>
    </footer>
</html>
