{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Gestão de OS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
        <title>Gestão de Ordem de Serviço</title>
    </head>
    <body>
        <div class="content container">

                <nav class="navbar">
                    <button>Cadastro OS</button>
                    <button>Relatórios</button>
                    <button>Visualizar OS</button>
                    <button>Pesquisa</button>
                </nav>
                
                {% block content %}
                {% endblock content%}
        </div>
    </body>
</html>
