{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    {% load crispy_forms_tags %}
    <div class="content container">
        {% block content %}
        <h1>Gestão de Ordem de Serviço</h1>
        <div class="row justify-content-center"></div>
            <form method="POST" class="login-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>    
        {% endblock content%}  
    </div>
</html>

